body{
    margin: 0px;
  }
.title {
    
}
.nonHeader {

}
.webpage {

}
.table, th, td {
  width: 69%;
  text-align: center;
  padding: 10px;
  border: 1px solid;
  border-collapse: collapse;
}

.table-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.list {
    
}

